html {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  position: relative;
  min-height: 90vh;
  min-width: 100vw;
}

nav {
  background-color: #ff9238;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.webLogo {
  display: flex;
  align-content: center;
  align-items: center;
}

.webLogo .nombre {
  font-size: 40px;
  font-weight: 600;
  margin-left: -15px;
}

.webLogo img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

.fa-solid {
  font-size: 30px;
}

.dropDown {
  text-align: center;
  color: black;
  background-color: #ffc798;
}

a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  padding: 10px 0;
}

.dropDown div:hover,
.dropDown div:active {
  background-color: #cfab8d;
}

.dropDown .dropSelected {
  background-color: #ff9238;
  color: white;
  font-weight: 600;
}

main {
  margin-top: 90px;
  text-align: center;
  width: 100vw;
}

.normalText {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}

.help {
  margin-top: 30px;
  background-color: #ff9238;
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: 900;
  font-size: 20px;
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.help:active {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.separator {
  background-image: linear-gradient(
    to bottom right,
    #fff,
    #fff 49%,
    #ff9238 50%,
    #ff9238
  );
  height: 80px;
  margin-top: 80px;
  margin-bottom: 0;
}

.secondSection {
  margin-top: 0;
  background-color: hsl(27, 100%, 61%);
  color: white;
  height: 1000px;
}

.secondSection h2 {
  padding-top: 50px;
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.frame {
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotGroup .selectedDot {
  background-color: #834b1d;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  margin: 0 auto 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  background-color: #ff9238;
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form label {
  font-size: 20px;
}

label[for="message"] {
  grid-row: 5/6;
}

form .message {
  grid-column: 1/3;
  grid-row: 6/8;
}

form input[type="submit"] {
  background-color: #ffffff;
  color: black;
}

form input,
textarea {
  border-radius: 10px;
  border: none;
  padding: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.39);
}

form .sendButton {
  grid-row: 8/9;
  grid-column: 1/3;
  width: 50%;
  margin: 0 auto;
  background-color: #ff9238;
  color: #ff9238 !important;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: 900;
  font-size: 20px;
  border: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.sendButton:active {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  text-align: center;
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer a {
  color: white;
  font-size: 20px;
}

.separateForm {
  height: 10px;
}

.gfm-embed {
  margin-top: 30px;
}

.bar {
  width: 90%;
  height: 15px;
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
  margin: 0 auto;
}

.donationSection {
  background-color: #ff9238;
  width: 100%;
  height: 500px;
}

.cartaDonar {
  width: 80%;
  margin: 40px auto auto;
  color: white;
}

.colorBar {
  width: 31%;
  height: 15px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  border-radius: 20px;
}

.cartaDonar .help {
  background-color: white;
  color: #ff9238;
}
